.contact{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 2px 20px;
}
.contact:not(:last-child) {
    margin-bottom: 5px;
}


.contact_info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 10px;
    color: #2A363B;
}